@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #1447a0;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #3e3f42;
}

h1 {
  font-size: 60px;
  margin: 20px 0;
}
h2 {
  font-size: 36px;
  margin: 50px 0;
  font-weight: bold;
}
h6 {
  font-size: 16px;
  font-weight: bold;
}

section {
  padding: 50px 0;
  margin-top: 50px;
}

button {
  cursor: pointer;
}

.btn-plain {
  padding: 8px 18px;
  background-color: white;
  color: #1851b7;
  border: 1px solid #1851b7;
  border-radius: 5px;
}

.btn-plain:hover {
  background-color: rgb(235, 235, 235);
}

.btn-primary {
  padding: 8px 18px;
  background-color: #1851b7;
  color: white;
  border: 1px solid #1851b7;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #1447a0;
}

.btn-secondary {
  padding: 16px 24px;
  background-color: darkorange;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: rgb(233, 129, 3);
}

nav {
  display: none;
}

.image {
  display: none;
}

/* ====================================== */
menu {
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid rgb(235, 235, 235);
}

menu > div {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}

menu > div > div > button {
  margin: 0 5px;
}

menu * {
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li a {
  display: inline-block;
  margin: 0 10px;
  color: #1851b7;
}

nav ul li a:hover {
  color: darkorange;
  text-decoration: none;
}

#section1 {
  padding-top: 100px;
  height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(30, 62, 133, 1) 0%,
    rgba(53, 112, 217, 1) 100%
  );
  border-radius: 0 0 0 100px;
}

#section1 .container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#section1 .lesson {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color: white;
}

#section1 .lesson h1 {
  font-size: 32px;
  font-weight: bold;
}

#section1 .lesson-list {
  display: flex;
  flex-direction: row;
}

#section1 ul {
  padding: 0;
}

#section1 .lesson-list ul li {
  margin: 20px;
  font-size: 18px;
  color: darkorange;
}

#section1 .lesson-list ul li span {
  color: white;
}

#section2 .container {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  text-align: center;
}

#section2 p {
  font-size: 18px;
  color: grey;
}

#section3 p {
  padding-bottom: 20px;
  color: gray;
  font-size: 20px;
}

#section3 .title {
  margin: 50px 0;
  background: linear-gradient(
    270deg,
    #eff4ff 2.5%,
    hsla(0, 0%, 100%, 0.0001) 95.89%
  );
}

#section3 .timeline {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

#section3 .timeline h3 {
  width: 10%;
  color: #1851b7;
  font-size: 60px;
  font-weight: bold;
}

#section3 .timeline div h4 {
  color: darkorange;
  font-size: 26px;
  font-weight: bold;
}

#section4 {
  background-color: rgb(255, 243, 228);
}
#section4 .container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

footer {
  margin: 0 auto;
  padding-top: 50px;
  font-size: 14px;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  padding: 5px 0;
}

footer #footer-menu div p {
  padding-top: 20px;
  width: 50%;
}

footer .container > div:last-child div {
  /* why "footer #footer-copyright div" doesn't work ?*/
  display: flex;
  justify-content: space-between;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    display: inline-block;
  }

  .image {
    display: inline-block;
    border-radius: 10px;
  }

  #section2 .container {
    display: flex;
    flex-flow: row;
    text-align: start;
  }

  #section2 .container div {
    width: 50%;
  }

  #section3 .timeline div {
    padding: 0 20px;
  }
  #section3 .timeline {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    text-align: start;
  }

  footer #footer-menu {
    display: flex;
    padding: 30px 0;
  }

  footer #footer-menu div {
    padding: 0 0px;
    width: 50%;
  }

  footer #footer-menu > div:last-child {
    display: flex;
    text-align: start;
  }

  footer #footer-menu > div:last-child div {
    display: flex;
    flex-flow: column;
  }

  footer #footer-copyright {
    padding: 30px 0;
    border-top: 1px solid #eaedf3;
    display: flex;
    justify-content: space-between;
  }

  footer #footer-copyright div * {
    padding: 0 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
